# Ignore all files in plots, backups, and data directories
plots/
backups/
data/
attentional_direction_research_workspace.egg-info/

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
