# Ignore all files in plots, backups, and data directories
backups/
data/braboszcz2017/raw/
data/braboszcz2017/epochs/
data/braboszcz2017/psd_data/
data/jin2019/raw/
data/jin2019/author_folder/
data/jin2019/epochs/
data/jin2019/psd_data/
data/touryan2022/raw/
data/touryan2022/author_folder/
data/touryan2022/epochs/
data/touryan2022/psd_data/
data/eeg_analyzer_derivatives/
attentional_direction_research_workspace.egg-info/

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
